<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Guru99Suite">
	<test name="Chrome Test" enabled="false">
		<parameter name="test.browser" value="CHROME" />
		<classes>
			<class name="com.wizonsoft.tests.SeleniumTest">
				<methods>
					<include name="testSignIn" />
					<include name="testNewCustomer" />
					<include name="testEditCustomer" />
					<include name="testNewAccount" />
					<include name="testDeleteAccount" />
					<include name="testDeleteCustomer" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Chrome Test" enabled="true">
		<parameter name="test.browser" value="REMOTE" />
		<classes>
			<class name="com.wizonsoft.tests.RegisterUserTests" />
			<class name="com.wizonsoft.tests.SignoutTests" />
		</classes>
	</test>

	<test name="Firefox Test" enabled="true">
		<parameter name="test.browser" value="REMOTE" />
		<parameter name="test.config" value="/selenium-grid-config-ff.yaml" />
		<classes>
			<class name="com.wizonsoft.tests.RegisterUserTests" />
			<class name="com.wizonsoft.tests.SignoutTests" />
		</classes>
	</test>

	<test name="Edge Test" enabled="true">
		<parameter name="test.browser" value="EDGE"/>
		<parameter name="test.config" value="/selenium-config.yaml" />
		<classes>
			<class name="com.wizonsoft.tests.RegisterUserTests" />
			<class name="com.wizonsoft.tests.SignoutTests" />
		</classes>
	</test>
</suite>