<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel = "tests">
  <test name="ChromeTest">
  <parameter name = "browser" value = "Chrome">
    <classes>
      <class name="com.wizonsoft.coteafsseleniumtests.BrowserTest"/>
    </classes>
    </parameter>
  </test> 
  <test name="FirefoxTest">
  <parameter name = "browser" value = "Firefox">
    <classes>
      <class name="com.wizonsoft.coteafsseleniumtests.BrowserTest"/>
    </classes>
    </parameter>
</test> 
</suite> <!-- Suite -->
